In [1]:
import pandas as pd
import psycopg



class Projekt:
    def __init__(self, projekt_id, projekt_name, beschreibung, startdatum, enddatum):
        self.projekt_id = projekt_id
        self.projekt_name = projekt_name
        self.beschreibung = beschreibung
        self.startdatum = startdatum
        self.enddatum = enddatum
    
    def insert(self, cursor):
        sql = '''INSERT INTO projekte (projekt_name, beschreibung, startdatum, enddatum)
                 VALUES (?, ?, ?, ?)'''
        values = (self.projekt_name, self.beschreibung, self.startdatum, self.enddatum)
        cursor.execute(sql, values)

    def update(self, cursor):
        sql = '''UPDATE projekte 
                 SET projekt_name = ?, beschreibung = ?, startdatum = ?, enddatum = ?
                 WHERE projekt_id = ?'''
        values = (self.projekt_name, self.beschreibung, self.startdatum, self.enddatum, self.projekt_id)
        cursor.execute(sql, values)

    def delete(self, cursor):
        sql = '''DELETE FROM projekte WHERE projekt_id = ?'''
        values = (self.projekt_id,)
        cursor.execute(sql, values)


class Team:
    def __init__(self, mitarbeiter_id, vorname, nachname, rolle, email):
        self.mitarbeiter_id = mitarbeiter_id
        self.vorname = vorname
        self.nachname = nachname
        self.rolle = rolle
        self.email = email
    
    def insert(self, cursor):
        sql = '''INSERT INTO projekte (vorname, nachname, rolle, email)
                 VALUES (?, ?, ?, ?)'''
        values = (self.vorname, self.nachname, self.rolle, self.email)
        cursor.execute(sql, values)

    def update(self, cursor):
        sql = '''UPDATE projekte 
                 SET vorname = ?, nachname = ?, rolle = ?, email = ?
                 WHERE mitarbeiter_id = ?'''
        values = (self.vorname, self.nachname, self.rolle, self.email, self.mitarbeiter_id)
        cursor.execute(sql, values)

    def delete(self, cursor):
        sql = '''DELETE FROM projekte WHERE mitarbeiter_id = ?'''
        values = (self.mitarbeiter_id,)
        cursor.execute(sql, values)


class Aufgaben:
    def __init__(self, aufgaben_id, aufgaben_name, projekt_id, aufgaben_beschreibung, mitarbeiter_id, status):
        self.aufgaben_id = aufgaben_id
        self.aufgaben_name = aufgaben_name
        self.projekt_id = projekt_id
        self.aufgaben_beschreibung = aufgaben_beschreibung
        self.mitarbeiter_id = mitarbeiter_id
        self.status = status
    
    def insert(self, cursor):
        sql = '''INSERT INTO projekte (aufgaben_name, projekt_id, aufgaben_beschreibung, mitarbeiter_id, status)
                 VALUES (?, ?, ?, ?)'''
        values = (self.aufgaben_name, self.projekt_id, self.aufgaben_beschreibung, self.mitarbeiter_id, self.status)
        cursor.execute(sql, values)

    def update(self, cursor):
        sql = '''UPDATE projekte 
                 SET aufgaben_name = ?, projekt_id = ?, aufgaben_beschreibung = ?, mitarbeiter_id = ?, status = ?
                 WHERE aufgaben_id = ?'''
        values = (self.aufgaben_name, self.projekt_id, self.aufgaben_beschreibung, self.mitarbeiter_id, self.status, self.aufgaben_id)
        cursor.execute(sql, values)

    def delete(self, cursor):
        sql = '''DELETE FROM projekte WHERE aufgaben_id = ?'''
        values = (self.aufgaben_id,)
        cursor.execute(sql, values)